<h1>sign in</h1>

<form action="/users/create-session" method="POST">
    <input type="email" value="email" placeholder="your email" required>
    <input type="password" value="password" placeholder="your password" required>
    <input type="submit" value="Sign In">
</form>